:root{
    --body-bg: #221F1F;
    --lighter-red: #e50914;
    --darker-red: #b91d24;
    --white: #f5f5f1;
}

*{
    font-family: 'Open Sans', sans-serif !important;
}

html{
    overflow-x:hidden;
    scroll-behavior: smooth;   
    background-color: var(--body-bg)!important;
}

body{
    background-color: var(--body-bg)!important;
}


/*Navbar*/
#mainNav{
    background-color: var(--body-bg)!important;
    padding:.5rem;
}
.container ul li{
    margin: 10px 30px;
}
.nav-link{
    color:var(--white) !important;
    font-weight: 500;
}

.navbar-brand{
    font-size:1.5rem !important;
}

.navbar-collapse{
    padding-left: 5rem !important;
}

.navbar-nav .nav-account .nav-link{
    color: var(--white) !important;;
}

.navbar>.container>a{
   color:var(--white) !important;
   text-decoration:none !important;
   font-weight:bold;
}
.nav-link:hover{
    color:var(--darker-red) !important;
}

.dropdown-menu{
    color:var(--white) !important;
}

.dropdownBtns{
    text-decoration: none !important;
    color:var(--darker-red) !important;
}


/*Loader Content*/
.content{
    height:100vh;
    width:100vw;
    background-color: var(--body-bg);
}

.loader{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: var(--body-bg);
    position: absolute;
    z-index: 9999;
}
.loader>div{
    height: 100px;
    width: 100px;
    border: 15px solid #45474b;
    border-top-color: var(--darker-red);
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
}
@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}

.fade-in{
    opacity:0;
}

/*Hero*/
.hero{
    padding-top: 1rem;
    padding-bottom: 6rem;
    background-color: var(--body-bg)!important;
}

.hero-carousel-caption{
    z-index: 1000;
}

.hero-img{
    height: 625px!important;
    width: 1200px!important;
    object-fit: cover;
}

.hero-caption{
    color:var(--white) !important;
    font-size:3rem!important;
    font-weight:800 !important;
    top:70%;
    position: absolute;
    background-color: var(--darker-red)!important;
}

#playButton{
    position: sticky;
    top: 50%;
    transform: translate(250%, -20%);
    cursor: pointer;
}

.modal-content{
    background-color: var(--body-bg)!important;
    color:var(--darker-red);
}

.modal-title{
    font-weight: 800;
    font-family: 'Open Sans', sans-serif !important;
}

.close{
    background-color:var(--darker-red);
    border:none;
}

@media only screen and (max-width:780px){
    .hero-caption{
        font-size:2rem!important;
    }
}

/*Trending*/
.trending{
    min-height: 25vh;
    min-width: 100vw;
    padding-top:5rem;
    background-color: var(--body-bg);
}

.trendingAnime{
    padding-left: 5.5rem;
    color: var(--darker-red);
    font-weight: 700;
}

.nextSection{
    padding-top:5rem;
    min-height: 50vh;
    min-width: 100vw;
    background-color: var(--body-bg);
}

#title{
    font-size:3rem;
}

.slick-prev, .slick-next{
    color: var(--white)!important;
    
}

.nxtBtn, .prevBtn{
    border-radius: 50%;
    border:none;
    background-color: var(--darker-red) !important;
}

.nxtBtn:hover, .prevBtn:hover{
    opacity:.75;
}

.nxtBtn{
    position: absolute;
    z-index: 1000;
    top:-13%;
    right:10%;
}

.prevBtn{
    position: absolute;
    z-index: 1000;
    top: -13%;
    right: 15%;
}

.carousel-cell>img{
    height: 320px !important;
    width: 230px !important;
}

.carousel{
    text-align: center;
}

/*Request Form*/

.requestAnime{
    min-height: 50vh;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

#requestAni{
    font-weight: 800;
    color:var(--darker-red);
}

.subHead{
    color:var(--white) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

label{
    color:var(--lighter-red);
    font-weight:600;
}

.formContent>form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*Footer*/
footer{
    font-family: 'Open Sans', sans-serif !important;
    background-color: var(--body-bg);
    color:var(--darker-red);
}

.footerLabel{
    font-weight: 800;
    color:var(--white);
}
.footerLabel2{
    font-weight: 800;
    color:var(--darker-red);
}

.site-footer
{
  padding:20px 0 20px;
  font-size:15px;
  line-height:24px;
}

.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}

.site-footer hr.small
{
  margin:20px 0
}

.site-footer a
{
  color:#737373;
}

.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}

.site-footer .social-icons
{
  text-align:right
}

.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:var(--white);
}

.copyright-text
{
  margin:0
}

@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}

@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}

